<!DOCTYPE html>
<html lang="pl">
<head>
  <meta name="robots" content="noindex, nofollow">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="https://www.grupapir.pl/{{ page.url }}/">
  <title>{% if not page.fileSlug == "" %}{{ title }} | {% endif %}GRUPA PIR{% if page.fileSlug == "" %} – dbamy o Twój spokój{% endif %}</title>
  {% if page.fileSlug == "kontakt" %}  
  <meta name="description" content="Katowice, ul. Michała Gierlotki 8, tel. 660 212 324 lub 539 342 404">
  {% else %}
  <meta name="description" content="Zaufanie, partnerstwo, wsparcie zarządcze. Opieka biznesowa, podatkowa, księgowa, kadrowo-płacowa i prawna. Oferta szyta na miarę.">
  {% endif %}
  {% set css %}
    {% include "style.css" %}
  {% endset %}
  <style>
    {{ css | safe }}
  </style>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
</head>
<body class="{% if page.fileSlug == "" %}oferta{% else %}{{ page.fileSlug }}{% endif %} bg-gray-300 font-sans sm:text-lg leading-relaxed pb-52">
  {% if page.fileSlug == "" %}
  <div class="okladka bg-cover relative flex justify-center items-center min-h-screen">
    <div class="absolute top-0 right-0 bottom-0 left-0 bg-gradient-to-br from-black via-gray-900 to-red opacity-80"></div>
    <div class="flex flex-col gap-8 items-center opacity-95 py-16 sm:py-32">
      <div href="/" class="block w-40 sm:w-64 sm:mb-4" aria-label="Grupa PIR">{% include "logo.svg" %}</div>
      <p class="font-hand text-4xl sm:text-5xl md:text-6xl text-white font-bold text-center opacity-80 mb-0">Dbamy o&nbsp;TWÓJ SPOKÓJ!</p>
      <div class="strzalka text-red text-3xl mt-6"></div>
    </div>
  </div>
  {% endif %}
  <header {% if page.fileSlug == "" %}id="oferta"{% endif %} class="border-red px-3 py-6 border-b-2">
    <div class="max-w-screen-xl mx-auto flex justify-between gap-6 items-center">
      <a href="/" class="block w-16 flex-shrink-0 transform hover:scale-110 transition ease-in-out" aria-label="Grupa PIR">{% include "logo.svg" %}</a>
      <nav>
        {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
        listClass: "flex flex-wrap justify-end leading-7 mb-0",
        listItemClass: "list-none ml-2 sm:ml-6",
        anchorClass: "text-sm sm:text-base tracking-wide font-bold uppercase hover:bg-red hover:text-gray-200 focus:bg-red focus:text-gray-200 p-1",
        activeAnchorClass: "text-red",
        activeKey: eleventyNavigation.key,
        showExcerpt: false
    }) | safe }}
      </nav>
    </div>
  </header>
  {{ content | safe }}
  <script>
  {% if page.fileSlug == "" %}
    {% include "./scripts/alpine-2.8.2.min.js" %}
  {% endif %}
    {% include "./scripts/instantpage-5.1.0.min.js" %}
  </script>
</body>
</html>