---
layout: base
---
<div class="px-3">
  <main>
    {% include "main.njk" %}
  </main>
</div>
<div class="mapa w-full h-0 relative mt-24">
  <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=18.969770371913913%2C50.208588474086554%2C18.97182494401932%2C50.20957207523113&amp;layer=mapnik&amp;marker=50.20907955006765%2C18.97079695000002" class="absolute top-0 right-0 bottom-0 left-0"></iframe>
</div>