<div class="max-w-screen-xl lg:grid grid-cols-5 gap-8 mx-auto mt-20">
  <div class="tlo-{{ page.fileSlug }} lg:block bg-cover relative col-span-2 h-48 lg:h-auto max-w-3xl mx-auto lg:mx-0">
    <div class="absolute top-0 right-0 bottom-0 left-0 bg-gradient-to-br from-black via-gray-900 to-red opacity-80"></div>
  </div>
  <div class="col-span-3 w-full max-w-3xl mx-auto">
    {{ content | sierotki | obfuscate | safe }}
  </div>
</div>